@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<IPublishedContent>

<header class="major">
    <h2>@Model.PageTitle</h2>
    <p>
        @Model.SummaryText
    </p>
</header>