@inherits UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="wrapper style1">
    <section id="main" class="container">
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
        <section id="content" class="box">
            @Html.Raw(Model.BodyText)
        </section>
    </section>
</div>